img {
    width: 100%;
  }
  .logoFooter {
    max-width: 300px;
  }
  .footerBelen {
    background: #1d3a3a;
    color: whitesmoke;
    margin-top: 0 !important;
  }
  i {
    width: 40px;
    height: 40px;
  }
  
  .container.p-4{
      margin-top: 0 !important;
  }